@import "../../app.style.scss";

header {
    @include display-flex(row, space-between, center, center);
    background-color: #dddddd;
    border-bottom: solid 2px #000;
    padding: 10px;
    position: fixed;
    margin: 0 auto;
    width: 100%;

    & .btns-wrapper {
        display: flex;
        justify-content: space-between;
        & button {
            border: solid 1px #000;
            margin: 0 2px;
            padding: 5px 10px;
        }
    }

    & h3 .logo-anchor {
        color: #000;
        text-decoration: none;
    }
}
